@model ProductDetailVM
@{
    ViewData["Title"] = "Index";
    int count = 1;
}
<link rel="stylesheet" href="~/assets/css/product.css">

<section class="one">
    <div class="container">
        <div class="switch">
            <p class="first">Home</p>
            <i class="fa-solid fa-chevron-right"></i>
            <p class="second">Family Wine</p>
            <i class="fa-solid fa-chevron-right"></i>
            <p class="select">Family Selection</p>
        </div>
    </div>
</section>

<section class="two">
    <div class="container">
        <div class="row">
            <div class="col-7 picture">
                <div class="otherpic">
                    @foreach (var item in Model.Product.ProductImages)
                    {
                        <img class="photo @(count==2? "main":" ")" data-id="@count" src="~/assets/img/@item.Image" alt="">
                        count++;
                    }

                </div>

                <div class="here">
                    <img class="slc" src="~/assets/img/@Model.Product.MainImage" alt="">
                    <p class="percent">- 10%</p>
                </div>
            </div>

            <div class="col-4 about">
                <div class="general">
                    <div class="titles">
                        <p class="family"@Model.Product.Category.Name</p>
                        <p class="select">@Model.Product.Title</p>
                    </div>

                    <i class="fa-regular fa-heart heart"></i>
                </div>

                <div class="firfloor">
                    <div class="stars1">
                        @for (int i = 1; i <= 5; i++)
                        {
                            @if(i<=Model.Product.Raiting){
                                <i class="fa-solid fa-star st" style="color:orange;"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-star st"></i>
                            }
                        }

                    </div>

                    <p class="reviews">No reviews</p>
                </div>

                <div class="price">
                    <p class="discount">$@($"{Model.Product.DiscountedPrice:0.00}")</p>
                    <p class="count">$@Model.Product.Price.ToString("0.00")</p>
                </div>

                <p class="text">
                    @Model.Product.Info
                </p>
                <div class="line"></div>

                <div class="check">
                    <i class="fa-regular fa-circle-check"></i>

                    @if(Model.Product.InStock == true){
                        <p>In stock</p>
                    }
                    else
                    {
                        <p style="color:red;">Out stock</p>
                    }
                </div>

                <div class="see">
                    <i class="fa-regular fa-eye"></i>

                    <p>@(Model.Product.View) people are viewing this right now</p>
                </div>

                <div class="fire">
                    <i class="fa-solid fa-fire"></i>

                    <p>@(Model.Product.Sold) sold in last 10 hours</p>
                </div>

                <div class="line"></div>

                <p class="stock">Only <span>@(Model.Product.Count) item(s)</span> left in stock</p>


                <div class="add-to-card adbtn d-flex">
                    <div class="count">
                        <button onclick="increment()">-</button>
                        <h2 id="counting"></h2>
                        <button onclick="decrement()">+</button>
                    </div>

                    <button id="add">Add to card</button>
                </div>

                <button type="submit" class="buy">BUY IT NOW</button>

                <div class="deliver">
                    <i class="fa-solid fa-truck-moving"></i>
                    <p class="delivery">DELIVERY:</p>
                    <p class="intext">
                        Order in the next 19 hours 27 minutes to get it between <span>
                            Friday, Jul
                            14
                        </span> and <span>Tuesday, Jul 18</span>
                    </p>
                </div>

                <div class="bank">
                    <img src="~/assets/img/Variable-Color.png" alt="">

                    <p class="secure">Guarantee safe & secure checkout</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="three">
    <div class="select">
        <ul>
            <li class="but firstapart" data-id="1">DESCRIPTION</li>
            <li class="but apart" data-id="2">REVIEW</li>
            <li class="but apart" data-id="3">SHIPPING</li>
            <li class="but apart" data-id="4">RETURN</li>
        </ul>

        <div class="line">
            <div class="underline"></div>
        </div>
    </div>

    <div class="subsection">
        <div class="change secone active" data-id="1">
            <p>
              @Model.Product.Description
            </p>
        </div>

        <div class="change sectwo d-none" data-id="2">
            <div class="now">
                <div class="sentence">
                    <p class="customer">Customer Reviews</p>
                    <p class="yet">No reviews yet</p>
                </div>

                <button>WRITE A REWIEV</button>
            </div>

            <div class="getin d-none">
                <form action="#">
                    <div>
                        <label class="ps-5 fr" for="fir">Name</label>

                        <label class="ls" for="last">Email</label>
                    </div>

                    <div>
                        <input type="text" id="fir" required="required" placeholder="Enter Your Name" />

                        <input type="text" id="last" required="required" placeholder="shamsshsh@code.edu.az" />
                    </div>

                    <div class="firfloor">
                        <p class="reviews">Rating</p>

                        <div id="0" class="stars1">
                            <i id="1" class="fa-regular fa-star st st1"></i>
                            <i id="2" class="fa-regular fa-star st st2"></i>
                            <i id="3" class="fa-regular fa-star st st3"></i>
                            <i id="4" class="fa-regular fa-star st st4"></i>
                            <i id="5" class="fa-regular fa-star st st5"></i>
                        </div>
                    </div>

                    <div class="d-flex subjc">
                        <label class="ps-5 ds" for="dis">Review Title</label>
                        <input type="text" id="dis" required="required" placeholder="Give your rewiev a title" />
                    </div>

                    <div class="d-flex mss">
                        <label class="ps-5 mess" for="mes">Body of Review (1500)</label>
                        <textarea name="" placeholder="Write your comments here" id="mes" cols="30"
                                  rows="10"></textarea>
                    </div>

                    <button class="snd">Submit Review</button>
                </form>
            </div>
        </div>

        <div class="change secthr d-none" data-id="3">
            <p>
                For orders placed before 7am AEDT, we endeavour to process the same business day. Orders placed after
                11am AEDT will be processed the next business day.
            </p>
            <p>During sale events and new collection launches, there may be a slighly longer processing time.</p>
            <p>All Auguste orders are hand-picked and packed with love from Byron Bay, Australie.</p>
        </div>

        <div class="change secfou d-none" data-id="4">
            <p>You can choose between a refund or a credit note on full priced items.</p>

            <ul>
                <li>
                    Item(s) must be returned in their original condition and packaging: unworn, unwashed and with
                    all tags attached.
                </li>
                <li>Earrings cannot be returned due to health and safety reasons.</li>
                <li>Return shipping methods and associated costs are the responsibility of the customer.</li>
                <li>Sale items can not be refunded for change of mind.</li>
            </ul>
        </div>
    </div>
</section>

<section class="four">
    <div class="line"></div>

    <div class="container">
        <div class="like">
            <p>YOU MAY ALSO LIKE</p>
        </div>

        <div class="cards">
            @foreach (var item in Model.LikeProducts)
            {
                <div class="card" style="width: 18rem;">
                    <div class="photo">
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"><img src="~/assets/img/@item.MainImage" class="card-img-top" alt="..."></a>

                        <i class="fa-regular fa-heart heart d-none"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left arrow d-none"></i>
                        <i class="fa-solid fa-magnifying-glass glass d-none"></i>

                        <div class="timer">
                            <div class="times">
                                <span class="days"></span>
                                <p>Days</p>
                            </div>
                            <div class="timesec">
                                <span class="hours"> </span>
                                <p>Hours</p>
                            </div>
                            <div class="timesec">
                                <span class="minutes"></span>
                                <p>Mins</p>
                            </div>
                            <div class="timesec">
                                <span class="seconds"></span>
                                <p>Secs</p>
                            </div>
                        </div>

                        <div class="add">
                            <p>ADD TO CART</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="firfloor">
                            <div class="stars6">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    @if(i<=item.Raiting){
                                        <i class="fa-regular fa-star st" style="color:orange;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-star st"></i>
                                    }
                                }
                            </div>

                            <p class="reviews">No reviews</p>
                        </div>

                        <div class="titl"><a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" class="title">@item.Title</a></div>
                        <p class="price">$@item.Price.ToString("0.00")</p>
                    </div>
                </div>
            }

           


        </div>

        <div class="recent">
            <p>RECENTLY VIEWED PRODUCTS</p>
        </div>

        <div class="cards">
            @foreach (var item in Model.LastProducts)
            {
                <div class="card" style="width: 18rem;">
                    <div class="photo">
                        <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id"><img src="~/assets/img/@item.MainImage" class="card-img-tope" alt="..."></a>

                        <i class="fa-regular fa-heart heart d-none"></i>
                        <i class="fa-solid fa-arrow-right-arrow-left arrow d-none"></i>
                        <i class="fa-solid fa-magnifying-glass glass d-none"></i>

                        <div class="timer">
                            <div class="times">
                                <span class="days"></span>
                                <p>Days</p>
                            </div>
                            <div class="timesec">
                                <span class="hours"> </span>
                                <p>Hours</p>
                            </div>
                            <div class="timesec">
                                <span class="minutes"></span>
                                <p>Mins</p>
                            </div>
                            <div class="timesec">
                                <span class="seconds"></span>
                                <p>Secs</p>
                            </div>
                        </div>

                        <div class="add">
                            <p>ADD TO CART</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="firfloor">
                            <div class="stars6">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    @if (i <= item.Raiting)
                                    {
                                        <i class="fa-regular fa-star st" style="color:orange;"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-regular fa-star st"></i>
                                    }
                                }

                            </div>

                            <p class="reviews">No reviews</p>
                        </div>

                        <div class="titl"><a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" class="title">@item.Title</a></div>
                        <p class="price">$@item.Price.ToString("0.00")</p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<script src="~/assets/js/product.js"></script>