@model List<BasketVM>
@{
    ViewData["Title"] = "Index";
    decimal grandTotal = 0;
}

<link rel="stylesheet" href="~/assets/css/view.css">

<section class="one">
    <div class="container">
        <p class="main">SHOPPING CART</p>
    </div>
</section>

<section class="two">
    <div class="container">
        <div class="title row">
            <p class="col-5">PRODUCT</p>
            <p class="col-4">QUANTITY</p>
            <p class="col-3">TOTAL</p>
        </div>

       @foreach(BasketVM basketVM in  Model){
         <div class="row prod">
            <div class="pict col-5">
                <img src="~/assets/img/@basketVM.Image" alt="">

                <div class="name">
                        
                    <p class="nm">CHARDONNAY</p>
                        <p class="per">$<span>@(basketVM.Count)×</span>@basketVM.Price.ToString("0.##")</p>
                </div>
            </div>

            <div class="counts col-4">
                <div class="count">
                    <button data-id="@basketVM.Id" class="minus">-</button>
                        <h2>@basketVM.Count</h2>
                        <button data-id="@basketVM.Id" class="plus-btn">+</button>
                </div>

                    <button data-id="@basketVM.Id" class="remove delete-button">REMOVE</button>
            </div>

            <div class="total col-3">
                    <p>$<span>@basketVM.Total.ToString("0.##")</span></p>
            </div>
        </div>
        }

    </div>
</section>

<section class="three">
    <div class="container">
        <div class="stotal row">
            <p class="subt col-9">SUBTOTAL :</p>
            <p class="totalpr grand-total col-3">$<span>@Model.Sum(m=>m.Count*m.Price).ToString("0.00")</span></p>
        </div>

        <div class="radio">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            </div>

            <p class="agree">I agree with the</p>
            <a class="term" href="#">terms and conditions</a>
        </div>

        <div class="checkbt">
            <a href="check.html" class="chc">CHECK OUT</a>
        </div>
    </div>
</section>

             <script src="~/assets/js/view.js"></script>