@model IEnumerable<Setting>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/assets/css/about.css">

<section class="one">
    <div class="container">
        <p class="main">ABOUT US</p>

        <div class="switch">
            <p class="first">Home</p>
            <i class="fa-solid fa-chevron-right"></i>
            <p class="select">About us</p>
        </div>
    </div>
</section>

<section class="two">
    <div class="container">
        <p class="title">How we started</p>
        <p class="about">
            @Model.FirstOrDefault(m=>m.Key == "AboutStarted").Value
        </p>
        <p class="title">Passion</p>
        <p class="about">
            @Model.FirstOrDefault(m=>m.Key =="AboutPassion").Value
        </p>
        <p class="title">Craftmanship</p>
        <p class="about">
            @Model.FirstOrDefault(m=>m.Key == "AboutCraft").Value
        </p>
    </div>
</section>

<section class="three">
    <img src="assets/img/@Model.FirstOrDefault(m=>m.Key == "AboutImage").Value" alt="">

    <div class="addres">
        <p class="our">OUR ADDRESS</p>
        <p class="add">@Model.FirstOrDefault(m=>m.Key == "AboutAddress").Value</p>
        <p class="call">CALL US AT @Model.FirstOrDefault(m=>m.Key == "AboutPhone").Value</p>
    </div>
</section>